<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylee.css">
    <title>Form</title>
</head>
<body>
{{>navbar}} 
<section class="form-main">
        <div class="container">
        <h1 class="gallery-main-h1">About Us<span class="dot-color">.</span></h1>
        <p class="gallery-main-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita <br> perspiciatis, nostrum ab exercitationem natus!  </p>
    </div>
    </section>

<section class="team section-padding-90">
  <h1 class="section-h1" data-aos="fade-up">Our Team<span class="dot-color">.</span> </h1>
            <p class="section-p" data-aos="fade-up">With our incredibly high standards, creativity, and experience, Al Nazir Palace will always exceed your expectations</p>
            <div class="container mt-50">
                 <h2>Board of Directors<span class="dot-color">.</span></h2>
                 <div class="row board">
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Abid Hussain</h3>
                     </div>
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Muhammad Ahsan</h3>
                     </div>
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Hannan Abid</h3>
                     </div>
                 </div>
            </div>
            <div class="container mt-50">
                 <h2>Our Managers<span class="dot-color">.</span></h2>
                 <div class="row board">
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Muhammad Nadeem</h3>
                     </div>
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Muzammil Chaudhary</h3>
                     </div>
                     
                 </div>
            </div>
             <div class="container mt-50">
                 <h2>Event Designer<span class="dot-color">.</span></h2>
                 <div class="row board">
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Muhammad Khizar</h3>
                     </div>
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG"  width="80%" height="100%"alt="">
                         <h3>Muhammad Soban</h3>
                     </div>
                     
                 </div>
            </div>
             <div class="container mt-50">
                 <h2>Kitchen Staff<span class="dot-color">.</span></h2>
                 <div class="row board">
                     <div class="col-lg-4 text-center p-5">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Rehan Dollar(Head Chef)</h3>
                     </div>
                     <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Hamza Awan</h3>
                     </div>
                      <div class="col-lg-4 text-center">
                         <img src="./pics/user1.PNG" width="80%" height="100%" alt="">
                         <h3>Sharaiz Khan</h3>
                     </div>
                     
                 </div>
            </div>
</section>

    <section class="footer">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 footer-text">
                     <h1 class="footer-heading">Al Nazir Palace</h1>
                     <p class="footer-paragraph1">DHA Phase 0.4,GT Lahore</p>
                     <p class="footer-paragraph2">03484833429</p>
                </div>
                <div class="col-lg-6 footer-head">
                    <p class="footer-paragraph3">Home</p>
                      <p class="footer-paragraph3">Menu</p>
                      <p class="footer-paragraph3">About</p>
                      <p class="footer-paragraph3">Contact</p>
                </div>
                <hr>
                <div class="foot">
                    <p>All Rights Reserved</p>
                    <p>Designed by aurangg.com</p>
                </div>
            </div>
        </div>
    </section> 
</body>
</html> 
