<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylee.css">
</head>
<body>
     {{>navbar}} 
    <div class="registration-form">
        
        <form action="/login" method="POST">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            
        
            <div class="form-group">
                <input type="email" class="form-control item" id="email" name="email" placeholder="Email">
            </div>
            
            <div class="form-group">
                <input type="password" class="form-control item" id="password" name="password" placeholder="Password">
            </div>
            
            
            
            <div class="form-group">
                <button type="submit"  class="btn btn-block create-account" value="Register">Log In</button>
            </div>
        </form>
        <div class="social-media" >
            
            <h5>New User?   <a href="register.hbs" style="color: #E0802E;">Sign Up</a></h5>
            
            
        </div>
    </div>
    <section class="footer">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-6 footer-text">
                             <h1 class="footer-heading">Al Nazir Palace</h1>
                             <p class="footer-paragraph1">DHA Phase 0.4,GT Lahore</p>
                             <p class="footer-paragraph2">03484833429</p>
                        </div>
                        <div class="col-lg-6 footer-head">
                            <p class="footer-paragraph3">Home</p>
                              <p class="footer-paragraph3">Menu</p>
                              <p class="footer-paragraph3">About</p>
                              <p class="footer-paragraph3">Contact</p>
                        </div>
                        <hr>
                        <div class="foot">
                            <p>All Rights Reserved</p>
                            <p>Designed by aurangg.com</p>
                        </div> 
                    </div>
                </div>
        </section> 
</body>
</html>