<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
 
  <title>Menu</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/stylee.css">

  <!-- Font Awesome -->
  
  <script src="https://kit.fontawesome.com/7f14a232c0.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
   
</head>
<body>
    {{>navbar}} 
    
    <section class="menu-main "> 
        <div class="container">
            <h1 class="menumain-h1"data-aos="fade-up">Select <span class="dot-color">Menu</span> <br> From Out Deals<span class="dot-color">.</span></h1>
            <p class="menumain-p"data-aos="fade-up">We provide the best deals and best menu for our customers  </p>
        </div>
    </section>
    
    <section class="our-menu section-padding-90" >
        <h1 class="section-h1"data-aos="fade-up">Our Menu<span class="dot-color">.</span></h1>
        <p class="section-p"data-aos="fade-up">We provide exceptional and wide range of foods for our customers </p>
          <div class="container mt-50">
               <div class="row">
                      <div class="col-lg-3" data-aos="fade-up">
                        <div class="menu-box">
                           <p class="menu-p">Menu 2</p>
                           <p class="menu-price">Rs.1600 <span class="menu-head">/head</span></p>
                           <p class="menu-description">It includes the following items: </p>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" >  Mutton Korma</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Mutton Biyani</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One Dessert of your choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Rogni Naan</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Cold Drink/Tea</span>
                           </div>
                           <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                        </div>
                 </div>
                 <div class="col-lg-3" data-aos="fade-up">
                             <div class="menu-box">
                                <p class="menu-p">Menu 2</p>
                                <p class="menu-price">Rs.1000  <span class="menu-head">/head</span></p>
                                <p class="menu-description">It includes the following items:  </p>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chicken Korma</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chicken Biyani</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Rogni Naan</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One dessert of your choice</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Tea/Qawa/Cold Drink</span>
                                </div>
                               <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                             </div>
                      </div>
                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="menu-box">
                           <p class="menu-p">Menu 3</p>
                           <p class="menu-price">Rs.1200 <span class="menu-head">/head</span></p>
                           <p class="menu-description">It includes the following items: </p>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" >  Chicken Tikka</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chicken Kebab</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One Dessert of your choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Rogni Naan</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Cold Drink/Tea</span>
                           </div>
                           <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                        </div>
                 </div>
                  <div class="col-lg-3" data-aos="fade-up">
                        <div class="menu-box">
                           <p class="menu-p">Menu 4</p>
                           <p class="menu-price">Rs.1100 <span class="menu-head">/head</span></p>
                           <p class="menu-description">It includes the following items: </p>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" >  Chinese of your Choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chinese Rice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One Dessert of your choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Soup</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Cold Drink/Tea</span>
                           </div>
                           <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                        </div>
                 </div>
               </div>
               <div class="row mt-50">
                <div class="col-lg-3" data-aos="fade-up">
                        <div class="menu-box">
                           <p class="menu-p">Menu 5</p>
                           <p class="menu-price">Rs.1800 <span class="menu-head">/head</span></p>
                           <p class="menu-description">It includes the following items: </p>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" >  Mutton Korma</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Mutton Biyani</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One Dessert of your choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Rogni Naan</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Cold Drink/Tea</span>
                           </div>
                           <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                        </div>
                 </div>
                 <div class="col-lg-3" data-aos="fade-up">
                             <div class="menu-box">
                                <p class="menu-p">Menu 6</p>
                                <p class="menu-price">Rs.1600  <span class="menu-head">/head</span></p>
                                <p class="menu-description">It includes the following items:  </p>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chicken Korma</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chicken Biyani</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Rogni Naan</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One dessert of your choice</span>
                                </div>
                                <div class="menu-dish">
                                    <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Tea/Qawa/Cold Drink</span>
                                </div>
                               <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                             </div>
                      </div>
                       <div class="col-lg-3" data-aos="fade-up">
                        <div class="menu-box">
                           <p class="menu-p">Menu 7</p>
                           <p class="menu-price">Rs.1400 <span class="menu-head">/head</span></p>
                           <p class="menu-description">It includes the following items: </p>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" >  Chicken Tikka</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chicken Kebab</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One Dessert of your choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Rogni Naan</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Cold Drink/Tea</span>
                           </div>
                           <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                        </div>
                 </div>
                  <div class="col-lg-3" data-aos="fade-up">
                        <div class="menu-box">
                           <p class="menu-p">Menu 8</p>
                           <p class="menu-price">Rs.1500 <span class="menu-head">/head</span></p>
                           <p class="menu-description">It includes the following items: </p>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" >  Chinese of your Choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Chinese Rice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > One Dessert of your choice</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Soup</span>
                           </div>
                           <div class="menu-dish">
                               <img src="./pics/ellipse.PNG" alt=""> <span class="menu-span" > Cold Drink/Tea</span>
                           </div>
                           <a href="form.hbs"><button class="menu-btn">Choose Plan</button></a> 
                        </div>
                 </div>
         </div>
          </div>
      </section>
      
      <section class="On-demand-services section-padding-90">
        <h1 class="section-h1"data-aos="fade-up">On Demand Services<span class="dot-color">.</span></h1>
        <p class="section-p"data-aos="fade-up">These are some most demanded services from our customers. </p>
        <div class="container  mt-50">
            <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                      <div class=" services"data-aos="fade-up">    
                          <p class="services-p">Mint Margarita <span class="services-rs">Rs.150+tax</span> </p>
                      </div>
                      <div class=" services"data-aos="fade-up">    
                        <p class="services-p">Lemonade <span class="services-rs">Rs.150+tax</span> </p>
                    </div>
                    <div class=" services"data-aos="fade-up">    
                        <p class="services-p">Soft drink 2.5 LTR  <span class="services-rs">Rs.150+tax</span> </p>
                    </div>
                    <div class=" services"data-aos="fade-up">    
                        <p class="services-p">Soft drink 1.5 LTR  <span class="services-rs">Rs.100+tax</span> </p>
                    </div>
                    <div class=" services"data-aos="fade-up">    
                        <p class="services-p">Soft drink 1 LTR  <span class="services-rs">Rs.80+tax</span> </p>
                    </div>
                    <div class=" services"data-aos="fade-up">    
                        <p class="services-p">Soft drink .5 LTR  <span class="services-rs">Rs.50+tax</span> </p>
                    </div>
                    <div class=" services"data-aos="fade-up">    
                        <p class="services-p"> Special Tea  <span class="services-rs">Rs.50+tax</span> </p>
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
            </div>
        </div>
      </section>
      
      <section class="choice-of-dessert section-padding-90">
        <h1 class="section-h1"data-aos="fade-up">Choice of Desserts<span class="dot-color">.</span></h1>
        <p class="section-p"data-aos="fade-up">We proivde the best desserts in the town </p>
        <div class="container  mt-50">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="row">
                    <div class="col-lg-4 dessert">
                        <div class="dessert-box">
                            <div class="pay"data-aos="fade-up">
                                <p class="dessert-p">Kulfa Walls</p>
                            </div>            
                        </div>              
                    </div>
                    <div class="col-lg-4">
                        <div class="dessert-box">
                            <div class="pay"data-aos="fade-up">
                                <p class="dessert-p">Kulfa Omore</p>
                            </div>            
                        </div>              
                    </div>
                    <div class="col-lg-4">
                        <div class="dessert-box">
                            <div class="pay"data-aos="fade-up">
                                <p class="dessert-p">Kulfa Shahi</p>
                            </div>            
                        </div>              
                    </div>
                    </div>
                    <div class="row dessert-second">
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Kheer</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Firni</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Halwa</p>
                                </div>            
                            </div>              
                        </div>
                    </div>
                    <div class="row dessert-second">
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Brownie</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Gulab Jamun</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Ras Gulla</p>
                                </div>            
                            </div>              
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
          </div>
        </div>
    </section>



    <section class="choice-of-dessert section-padding-90">
        <h1 class="section-h1"data-aos="fade-up">Extras<span class="dot-color">.</span></h1>
        <p class="section-p"data-aos="fade-up">These are some more items you can choose </p>
        <div class="container  mt-50">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="row">
                    <div class="col-lg-4 dessert">
                        <div class="dessert-box">
                            <div class="pay"data-aos="fade-up">
                                <p class="dessert-p">Spot light</p>
                            </div>            
                        </div>              
                    </div>
                    <div class="col-lg-4">
                        <div class="dessert-box">
                            <div class="pay"data-aos="fade-up">
                                <p class="dessert-p">Blaster</p>
                            </div>            
                        </div>              
                    </div>
                    <div class="col-lg-4">
                        <div class="dessert-box">
                            <div class="pay"data-aos="fade-up">
                                <p class="dessert-p">Walkway</p>
                            </div>            
                        </div>              
                    </div>
                    </div>
                    <div class="row dessert-second">
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p"> Round Floor</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Moon Round Floor</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Anaar</p>
                                </div>            
                            </div>              
                        </div>
                    </div>
                    <div class="row dessert-second">
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Snow Machine</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p"> Photography</p>
                                </div>            
                            </div>              
                        </div>
                        <div class="col-lg-4">
                            <div class="dessert-box"data-aos="fade-up">
                                <div class="pay">
                                    <p class="dessert-p">Stage Decor</p>
                                </div>            
                            </div>              
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
          </div>
        </div>
    </section>



    <section class="choice-of-dessert section-padding-90">
        <h1 class="section-h1"data-aos="fade-up">Terms & Conditions<span class="dot-color">.</span></h1>
            <div class="container  mt-50">
            <div class="terms" data-aos="fade-up">
           <ul >
               <li>Minimum number of guest at the time of booking will be considered as final reduction in guest will not 
                acceptable.</li>
                <li>The management can revise the rate without prior information unless is pay at the time of booking.</li>
                <li>Timing for lunch events are 1pm to 4pm and for Dinner 7pm to 10pm.</li>
                <li>Drivers, band player, private security, guards are strictly not allowed to enter the hall.</li>
                <li>We have an approved panel of stage designers, you have to select anyone them and deal directly.</li>
                <li>10 Div function fee to be paid by customer.</li>
           </ul>
        </div>
    </div>
     </section>

     <section class="footer">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 footer-text">
                     <h1 class="footer-heading">Al Nazir Palace</h1>
                     <p class="footer-paragraph1">DHA Phase 0.4,GT Lahore</p>
                     <p class="footer-paragraph2">03484833429</p>
                </div>
                <div class="col-lg-6 footer-head">
                    <p class="footer-paragraph3">Home</p>
                      <p class="footer-paragraph3">Menu</p>
                      <p class="footer-paragraph3">About</p>
                      <p class="footer-paragraph3">Contact</p>
                </div>
                <hr>
                <div class="foot">
                    <p>All Rights Reserved</p>
                    <p>Designed by aurangg.com</p>
                </div>
            </div>
        </div>
    </section> 
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({offset: 100,
          duration: 1000});
    </script>
    
</body>
</html>